heroes-list {
  .heroes-list__item {

    &.ng-enter,
    &.ng-move {
      transition: 0.5s all;
      opacity: 0;
      position: relative;
      top: 200px;
    }
    &.ng-enter.ng-enter-active,
    &.ng-move.ng-move-active {
      opacity: 1;
      top: 0;
    }
    &.ng-leave {
      animation: downfadeOut 1s;
      position: relative;
    }
  }

}

@keyframes downfadeOut {
  from {
    opacity: 1;
    top: 0;
    left: 0;
  }
  to {
    opacity: 0;
    top: 200px;
  }
}
