tabs-container {
  ul li {
    display: inline-block;
    margin-right: 10px;
    transition: 0.5s background-color;
    &.active {
      background-color: #6495ed;
    }
  }
  .tabs{
    padding: 10px;
  }
}
